*{
    margin: 0;
    padding: 0;
    text-align: center;
}
h1{
    height: 5rem;
    background-color:#081b31;
    color: #fff;
    line-height: 5rem;
}
.choices{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 1rem;
}
.choice{
    height: 165px;
    width: 165px;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 5rem;
}
.choice:hover{
    cursor: pointer;
    background-color: #081b31;
}

img{
    height: 150px;
    width: 150px;
    object-fit: cover;
    border-radius: 50%;
}
.score-board{
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 3rem;
    font-size: 3rem;
    gap: 2rem;
}
#user-score,
#comp-score{
    font-size: 5rem;
}
.msg{
    background-color: #081b31;
    color: #fff;
    font-size: 2rem;
    display: inline;
    padding: 1rem;
    border-radius: 1rem;
}
.msg-container{
   margin-top: 5rem;
   
}